@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-size: 16px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    user-select: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom-box {
    max-width: 600px;
    background-color: white;
    margin: 150px auto;
    padding: 30px;
    border-radius: 10px;
}

#intro
{
    text-align: center;
    /* max-width:70%; */
}

.buttons
{
    text-align: center;
    /* max-width:70%; */
}

